body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.app-name h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  color: white;
  margin: 0;
}

.webcam-container,
.detected-letters {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.webcam-container {
  height: 100%;
}

.webcam-active,
.webcam-active-canvas {
  position: absolute;
}

.webcam-active-canvas {
  top: 0;
  left: 0;
  z-index: 10;
}

.activate-button {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.activate-button:hover {
  background-color: #f3f3f3;
}

.detected-letters {
  padding: 20px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  visibility: hidden;
}

.letters-active {
  visibility: visible;
}

.webcam-enter,
.webcam-exit,
.canvas-enter,
.canvas-exit,
.detected-letters-enter,
.detected-letters-exit {
  opacity: 1;
}

.webcam-enter-active,
.webcam-exit-active,
.canvas-enter-active,
.canvas-exit-active,
.detected-letters-enter-active,
.detected-letters-exit-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.webcam-enter,
.canvas-enter,
.detected-letters-enter {
  transform: translateY(-100%);
}

.webcam-exit,
.canvas-exit,
.detected-letters-exit {
  transform: translateY(0);
}

.webcam-enter-active,
.canvas-enter-active,
.detected-letters-enter-active {
  transform: translateY(0);
}

.webcam-exit-active,
.canvas-exit-active,
.detected-letters-exit-active {
  transform: translateY(100%);
}

.webcam-enter,
.webcam-exit {
  transform: translateX(-100%);
}

.webcam-enter-active,
.webcam-exit-active {
  transform: translateX(0);
}

.webcam-exit-active,
.canvas-exit-active,
.detected-letters-exit-active {
  opacity: 0.01;
}
